@import "../../node_modules/uikit/src/scss/variables-theme.scss";

$container-padding-horizontal: 25px;

$inverse-base-link-color: $global-muted-color;
$inverse-base-link-hover-color: #fff;
$base-link-hover-text-decoration: none;